<!DOCTYPE html>
    <html 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaft.org/extras/spring-security"
    >
    <head th:replace="layout/menu :: head">
        <title>Historial de Facturas</title>
    </head>
    
    <body>
        
        <header th:replace="layout/menu :: navbar"></header>
        
        <section class="container mt-5">
            
            <h2 th:text="#{facturas.titulo}" class="d-inline"> Fact </h2>
            <button class="btn btn-success p-2 d-inline" 
               type="button"
               style="margin-left: 30px; margin-bottom: 5px;"
               data-bs-toggle="modal" 
               data-bs-target="#agregarFactura"
               sec:authorize="hasRole('ADMIN')"
            > 
                   Crear Factura
            </button>
            
            <a sec:authorize="hasRole('ROLE_ADMIN')" 
               th:href="@{/facturas/ReporteFacturas}"
               class="btn btn-info"
               > 
                <i class="fas fa-file"></i>
                Reporte
            </a>
            
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del cliente</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Monto total</th>
                        <th scope="col">Fecha</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="factura : ${facturas}">          
                        <td scope="row">[[${factura.idFactura}]]</td>
                        <td>[[${factura.nombre}]]</td>
                        <td>[[${factura.apellidos}]]</td>
                        <td>[[${factura.cedula}]]</td>
                        <td>[[${factura.montoTotal}]]</td>
                        <td>[[${factura.fecha}]]</td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/facturas/modificar/}+${factura.idFactura}"
                               class="btn btn-success">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                            </a>
                        </td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/facturas/eliminar/}+${factura.idFactura}"
                               class="btn btn-danger">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        
        
        
        
        <!-- Modal Agregar categoria -->
        <section>
            
            <div id="agregarFactura" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-dark">
                            <h5 class="modal-title">Generar factura</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/facturas/guardar}" th:object="${factura}"
                              method="POST" class="was-validated">

                            <div class="modal-body">

                                <div class="form-group mb-2">
                                    <label for="nombre"> Nombre del Cliente </label>
                                    <input type="text" class="form-control" name="nombre" required="true" placeholder="....">
                                </div>

                                <div class="form-group mb-2">
                                    <label for="apellidos"> Apellidos </label>
                                    <input type="text" class="form-control" name="apellidos" required="true" placeholder="....">
                                </div>

                                <div class="form-group mb-2">
                                    <label for="cedula"> Cedula </label>
                                    <input type="text" class="form-control" name="cedula" required="true" placeholder="1-1111-1111">
                                </div>
                                
                                <div class="form-group mb-2">
                                    <label for="montoTotal"> Monto total cancelado </label>
                                    <input type="number" class="form-control" name="montoTotal" required="true" placeholder="0000">
                                </div>
                                
                                <div class="form-group mb-2">
                                    <label for="fecha"> Fecha </label>
                                    <input type="date" class="form-control" name="fecha" required="true">
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success p-2" type="submit"> Registrar factura</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        <header th:replace="layout/menu :: footer"></header>
    
    </body>
</html>
