<!DOCTYPE html>
    <html 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaft.org/extras/spring-security"
    >
    <head th:replace="layout/menu :: head">
        <title>Login</title>   
    </head>
    
    <body>
        <section class="h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="card-body p-md-5 mx-md-4">

                                        <div class="text-center">
                                            <img src="https://thumbs.dreamstime.com/b/punch-15274999.jpg"
                                                 style="width: 185px;" alt="logo">
                                                <h4 class="mt-1 mb-5 pb-1">[[#{index.titulo}]] [[#{aplicacion.titulo}]] !!  </h4>
                                        </div>

                                        <form method="POST" th:action="@{/login}">
                                            <p>Iniciar Sesion</p>

                                            <div class="form-outline mb-4">
                                                <input type="text" id="username" class="form-control"
                                                       placeholder="Ingresa tu usuario..." name="username" />
                                                <label class="form-label" for="username"> [[#{login.username}]] </label>
                                            </div>

                                            <div class="form-outline mb-4">
                                                <input type="password" id="password" class="form-control" placeholder="Ingresa tu contraseña" name="password"/>
                                                <label class="form-label" for="password"> [[#{login.password}]] </label>
                                            </div>

                                            <div class="text-center pt-1 mb-5 pb-1">
                                                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-4" type="submit" style="padding: 15px" > Iniciar Sesion</button>
                                            </div>
 
                                        </form>

                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                        <img src="https://cdn.pixabay.com/photo/2018/10/02/22/00/silhouette-3720048_960_720.png" alt="Karate img" style="width: 450px"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
        
</html>
