<!DOCTYPE html>
    <html 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaft.org/extras/spring-security"
    >
    <head th:replace="layout/menu :: head">
        <title>Colaboradores</title>
    </head>
    
    <body>
        
        <header th:replace="layout/menu :: navbar"></header>
        
        <section class="container mt-5">
            <h2 th:text="#{colaboradores.titulo}" class="d-inline"> Lista </h2>
            <button class="btn btn-success p-2" 
               type="button"
               style="margin-left: 30px; margin-bottom: 5px;"
               data-bs-toggle="modal" 
               data-bs-target="#agregarColaborador"
               sec:authorize="hasRole('ADMIN') or hasRole('ENTRENADOR')"
            > 
                    [[#{colaboradores.agregar}]]
            </button>
            
            
            <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">[[#{colaboradores.nombre}]]</th>
                        <th scope="col">[[#{colaboradores.apellidos}]]</th>
                        <th scope="col">[[#{colaboradores.usuario}]]</th>
                        <th scope="col">[[#{colaboradores.pass}]]</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="colaborador : ${colaboradores}">          
                        <td scope="row">[[${colaborador.idColaborador}]]</td>
                        <td>[[${colaborador.nombre}]]</td>
                        <td>[[${colaborador.apellidos}]]</td>
                        <td>[[${colaborador.usuario}]]</td>
                        <td>[[${colaborador.pass}]]</td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/colaboradores/modificar/}+${colaborador.idColaborador}"
                               class="btn btn-success">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                            </a>
                        </td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/colaboradores/eliminar/}+${colaborador.idColaborador}"
                               class="btn btn-danger">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        
        
        
        
        <!-- Modal Agregar categoria -->
        <section>
            
            <div id="agregarColaborador" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title">Agregar Colaborador</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/colaboradores/guardar}" th:object="${colaborador}"
                              method="POST" class="was-validated">

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="nombre">[[#{colaboradores.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="apellidos">[[#{colaboradores.apellidos}]]</label>
                                    <input type="text" class="form-control" name="apellidos" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="pass">[[#{colaboradores.pass}]]</label>
                                    <input type="password" class="form-control" name="pass" required="true">
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success p-2" type="submit">Registrar Colaborador</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        <header th:replace="layout/menu :: footer"></header>
    
    </body>
</html>
