<!DOCTYPE html>
    <html 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaft.org/extras/spring-security"
    >
    <head th:replace="layout/menu :: head">
        <title> Inventario </title>
    </head>
    <body>
       
                
        <header th:replace="layout/menu :: navbar"></header>
        
        
        <section class="container mt-5">
            <h2 class="d-inline"> [[#{menu.inventario}]] </h2>
            
            <button class="btn btn-success p-2" 
               type="button"
               style="margin-left: 30px; margin-bottom: 5px;"
               data-bs-toggle="modal" 
               data-bs-target="#agregarInventario"
               sec:authorize="hasRole('ADMIN') or hasRole('ENTRENADOR')"
            > [[#{inventario.agregar}]]
            </button>
            
            <section class="row align-items-center">
                
                <div class="card mb-3 col-4 me-3 mt-3" th:each="inventario : ${inventario}">
                    <img th:src="${inventario.urlImagen}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">[[#{inventario.cantidad}]]: [[${inventario.cantidad}]]</h5>
                            <p class="card-text"> [[#{inventario.descripcion}]]:  [[${inventario.descripcion}]]</p>
                        </div>
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/inventario/eliminar/}+${inventario.idItem}"
                               class="btn btn-danger">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                        </a>
                </div>

            </section>
        </section>
        
        
        
        <!-- Modal Agregar categoria -->
        <section>
            
            <div id="agregarInventario" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title">Agregar Item en Inventario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/inventario/guardar}" th:object="${inventario}"
                              method="POST" class="was-validated">

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="descripcion"> [[#{inventario.descripcion}]] </label>
                                    <input type="text" class="form-control" name="descripcion" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="urlImagen">Url de Imagen </label>
                                    <input type="text" class="form-control" name="urlImagen" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="cantidad"> [[#{inventario.cantidad}]] </label>
                                    <input type="number" class="form-control" name="cantidad" required="true">
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success p-2" type="submit">[[#{inventario.agregar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <header th:replace="layout/menu :: footer"></header>
        
        
    </body>
</html>
