<!DOCTYPE html>
    <html 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaft.org/extras/spring-security"
    >
    <head th:replace="layout/menu :: head">
        <title>Eventos</title>
    </head>
    
    <body>
        
        <header th:replace="layout/menu :: navbar"></header>
        
        <section class="container mt-5">
            
            <h2 th:text="#{eventos.titulo}" class="d-inline"> Event </h2>
            <button class="btn btn-success p-2" 
               type="button"
               style="margin-left: 30px; margin-bottom: 5px;"
               data-bs-toggle="modal" 
               data-bs-target="#agregarEvento"
               sec:authorize="hasRole('ADMIN') or hasRole('ENTRENADOR')"
            > 
                   Programar Evento
            </button>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">[[#{evento.instructor}]]</th>
                        <th scope="col">[[#{evento.descripcion}]]</th>
                        <th scope="col">[[#{evento.fecha}]]</th>
                        <th scope="col">[[#{evento.hora}]]</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento : ${eventos}">          
                        <td scope="row">[[${evento.idEvento}]]</td>
                        <td>[[${evento.instructor}]]</td>
                        <td>[[${evento.descripcion}]]</td>
                        <td>[[${evento.fecha}]]</td>
                        <td>[[${evento.hora}]]</td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/eventos/modificar/}+${evento.idEvento}"
                               class="btn btn-success">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                            </a>
                        </td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/eventos/eliminar/}+${evento.idEvento}"
                               class="btn btn-danger">
                                <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        
        
        
        
        <!-- Modal Agregar categoria -->
        <section>
            
            <div id="agregarEvento" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title">Agregar Evento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/eventos/guardar}" th:object="${eventos}"
                              method="POST" class="was-validated">

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="instructor"> [[#{evento.instructor}]] </label>
                                    <input type="text" class="form-control" name="instructor" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="descripcion"> [[#{evento.descripcion}]] </label>
                                    <input type="text" class="form-control" name="descripcion" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="fecha"> [[#{evento.fecha}]] </label>
                                    <input type="date" class="form-control" name="fecha" required="true">
                                </div>
                                
                                <div class="form-group">
                                    <label for="hora"> [[#{evento.hora}]] </label>
                                    <input type="time" class="form-control" name="hora" required="true">
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success p-2" type="submit"> [[#{evento.agregar}]] </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        <header th:replace="layout/menu :: footer"></header>
    
    </body>
</html>
